<form action="/add/results">
  
<h1>New addition</h1>

  <div>
    <label for="first_num">Add this:</label>
    <input name="num_one" id="first_num" placeholder="E.g. 1.5">
  </div>
  
  <div>
    <label for="second_num">to this:</label>
    <input name="num_two" id="second_num" placeholder="E.g. 2.5">
  </div>

  <button>
    Add!
      </button>
</form>

