<form action="/divide/results">
  
<h1>New division</h1>

  <div>
    <label for="first_num">Divide this:</label>
    <input name="num_one" id="first_num" placeholder="E.g. 1.5">
  </div>
  
  <div>
    <label for="second_num">by this:</label>
    <input name="num_two" id="second_num" placeholder="E.g. 2.5">
  </div>

  <button>
    Divide!
      </button>
</form>

