<form action="/subtract/results">
  
<h1>New subtraction</h1>

  <div>
    <label for="first_num">Subtract this:</label>
    <input name="num_one" id="first_num" placeholder="E.g. 1.5">
  </div>
  
  <div>
    <label for="second_num">from this:</label>
    <input name="num_two" id="second_num" placeholder="E.g. 2.5">
  </div>

  <button>
    Subtract!
      </button>
</form>

